/* shop/static/shop/shop.css */
body {
    background-color: #cdf1fc;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: left;
    padding-left: 50px;
}
table thead th {
    text-align: left;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #8b8bfe;}
table tr:nth-child(odd){background-color: #ccccff;}
table tr:hover {background-color: white;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  /*text-align: left;*/
  background-color: #6a6af9;
  color: white;
}