{% extends './layout.html' %}  {# '/shop/layout.html'로 하면 오류 #}
{% block content %}
{% load humanize %}
{{ block.super }}
    <a href="{% url 'shop:item_list' %}">상품 목록으로 돌아가기</a><br/><br/>
    <form>
    <fieldset>
    <table>
        <thead>
            <th>필드</th><th>내용</th>
        </thead>
        <tbody>
        <tr>
            <td>상품명:</td>
            <td><input type="text" value="{{ item.name }}"></td>
        </tr>
        <tr>
            <td>상품설명:</td>
            <td>
                <textarea cols="40" rows="10">{{ item.desc.strip }}</textarea>
            </td>
        </tr>
        <tr>
            <td>가격:</td>
            <td>
                <input type="text" value="{{ item.price }}" style = "text-align:right;"> 원
            </td>
        </tr>
        <tr>
            <td>사진:</td>
            <td>
                {% if item.photo %}<img src="{{ item.photo.url }}"/>{% endif %}
            </td>
        </tr>
        <tr>
            <td>출시 여부:</td>
            <td>
                <input type="checkbox" name="item.is_published" value="1"
                       {% if item.is_published %}checked{% endif %} />
            </td>
        </tr>
        </tbody>
    </table>
    </fieldset>
    </form>
    <hr>
    item.reviews.all: {{ item.reviews.all }} <br/><br/>

    item.reviews.first: {{ item.reviews.first }} <br/><br/>

    item.reviews.last: {{ item.reviews.last }} <br/><br/>

    for c in item.reviews.all:<br/>
    {% for c in  item.reviews.all %}
        {{ c }} <br/>
    {% endfor %}<br/>

    for c in item.reviews.all:<br/>
    {% for c in  item.reviews.all %}
            {{ c.id }}#{{ c.item }}#{{ c.short_message }}#{{ c.created_at }}#{{ c.updated }}<br/>
    {% endfor %}<br/>

    <table>
        <thead>
            <th>id</th>
            <th>댓글</th>
            <th>작성 일시</th>
            <th>수정 일시</th>
        </thead>
        <tbody>
        {% for c in item.reviews.all %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.short_message }}</td>
                <td>{{ c.created_at }}</td>
                <td>{{ c.updated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'shop:item_edit' item.pk %}">상품 정보 수정</a>
    <a href="{% url 'shop:item_remove' item.pk %}">상품 정보 삭제</a>
    <hr>
    item.tagged: {{ item.tagged }} <br/>
    item.tags.all: {{ item.tags.all }} <br/><br/>

    `for key, value in my_tag.items`: <br/>
    {% for key, value in my_tag.items %}
        키: {{ key }} 값: {{ value }} <br/>
    {% endfor %} <br/><br/>

    {# https://python.bakyeono.net/chapter-7-2.html #}
    `for key, value in my_tag.items`:
    {% for key, value in my_tag.items %}
        {% if value > 0 %}
            <input type="checkbox" name={{ key }} checked>
        {% else %}
            <input type="checkbox" name={{ key }}>
        {% endif %}
        <label for={{ key }}> {{ key }} </label>
    {% endfor %}

{% endblock %}