{% extends './layout.html' %}  {# '/shop/layout.html'로 하면 오류 #}

{% block content %}
    <!--<a href="/blog/">게시판 목록으로 돌아가기</a><br/><br/>--><br/><br/>
    <a href="{% url 'shop:item_list' %}">아이템 목록으로 돌아가기</a><br/><br/>

    item: {{ item }}<br/><br/>

    item: {{ item.id }}#{{ item.name }}#{{ item.updated }}#
            {{ item.created_at }}#{{ item.tagged }}<br/><br/>

    id: {{ item.id }}<br/>
    상품명: {{ item.name }}<br/>
    설명: {{ item.short_desc }}<br/>
    게시 일시: {{ item.updated }}<br/>
    수정 일시: {{ item.created_at }}<br/>
    태그 집합: {{ item.tagged }}<br/><br/>

    <form>
    <fieldset>
        id:         <input type="text" value={{ item.id }}> <br/>
        상품명:     <input type="text" value="{{ item.name }}"> <br/>
        설명:     <input type="text" value="{{ item.short_desc }}"> <br/>
        게시 일시:  <input type="text" value="{{ item.updated }}"> <br/>
        수정 일시:  <input type="text" value="{{ item.created_at }}"> <br/>
        태그 집합:  <input type="text" value="{{ item.tagged }}"> <br/>
    </fieldset>
    </form> <br/>

    <form>
    <fieldset>
    <table>
        <thead>
            <th>필드</th><th>내용</th>
        </thead>
        <tbody>
        <tr>
            <td width="10%">id:</td><td><input type="text" value={{ item.id }}></td>
        </tr>
        <tr>
            <td>상품명:</td><td><input type="text" value="{{ item.name }}"></td>
        </tr>
        <tr>
            <td>설명:</td><td><input type="text" value="{{ item.short_desc }}" style="width:300px;"></td>
        </tr>
        <tr>
            <td>게시 일시:</td><td><input type="text" value="{{ item.updated }}"></td>
        </tr>
        <tr>
            <td>수정 일시:</td><td><input type="text" value="{{ item.created_at }}"></td>
        </tr>
        <tr>
            <td>태그 집합:</td><td><input type="text" value="{{ item.tagged }}"></td>
        </tr>
        </tbody>
    </table>
    </fieldset>
    </form> <br/>

    <hr>
    item.reviews.all: {{ item.reviews.all }} <br/><br/>

    item.reviews.first: {{ item.reviews.first }} <br/><br/>

    item.reviews.last: {{ item.reviews.last }} <br/><br/>

    for c in item.reviews.all:<br/>
    {% for c in  item.reviews.all %}
        {{ c }} <br/>
    {% endfor %}<br/>

    for c in item.reviews.all:<br/>
    {% for c in  item.reviews.all %}
            {{ c.id }}#{{ c.item }}#{{ c.short_message }}#{{ c.created_at }}#{{ c.updated }}<br/>
    {% endfor %}<br/>

    <table>
        <thead>
            <th>id</th>
            <th>댓글</th>
            <th>작성 일시</th>
            <th>수정 일시</th>
        </thead>
        <tbody>
        {% for c in item.reviews.all %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.short_message }}</td>
                <td>{{ c.created_at }}</td>
                <td>{{ c.updated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    item.tagged: {{ item.tagged }} <br/>
    item.tags.all: {{ item.tags.all }} <br/><br/>

    `for key, value in my_tag.items`: <br/>
    {% for key, value in my_tag.items %}
        키: {{ key }} 값: {{ value }} <br/>
    {% endfor %} <br/><br/>

    {# https://python.bakyeono.net/chapter-7-2.html #}
    `for key, value in my_tag.items`:
    {% for key, value in my_tag.items %}
        {% if value > 0 %}
            <input type="checkbox" name={{ key }} checked>
        {% else %}
            <input type="checkbox" name={{ key }}>
        {% endif %}
        <label for={{ key }}> {{ key }} </label>
    {% endfor %}

{% endblock %}